<nav *ngIf="totalItems > pageSize">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage == 1">
            <a (click)="previous()" aria-label="Previous">
            <span class="page-link" aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li  class="page-item" [class.active]="currentPage == page" *ngFor="let page of pages" (click)="changePage(page)">
            <a class="page-link">{{ page }}</a>
        </li>
        <li [class.disabled]="currentPage == pages.length">
            <a (click)="next()" aria-label="Next">
            <span class="page-link" aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>  
