<div class="d-flex flex-column align-items-center">
  <div class="col-lg-10" *ngFor="let post of posts">
    <div class="card bg-light card-margin">
      <div class="card-body">
        <h5 class="card-title ">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.userName}}</h6>
        <p class="card-text">{{post.body}}</p>
        <a [routerLink]="['/posts/', post.id]" class="card-link">Details</a>
      </div>
    </div>
  </div>
  <app-pagination [total-items]="this.pagination.totalItems" (page-changed)=pageChanged($event)></app-pagination>
</div>
